@use 'global' as *;

.blog {
  padding: rem(80) rem(21);

  @include mq(md) {
    
    background:#fff url("../images/common/blog.jpg") no-repeat  center top / 100% auto;
    // background-size: cover;
    // background-position:center;
    background-repeat: no-repeat;
    background-position:center top;
    padding: rem(100) 0;
    width: 100vw;
    max-height: 100%;
    z-index: -1;
    
  }
}


.blog__inner {
  margin: 0 auto;
  padding: 0 rem(16);
  
  @include mq(md) {
    
    position: relative;
    
    // width: min(1080px , 100vw);
    // max-width: 1080px;
    height: 57.7vw;
    
  }
}

.blog__title {
  margin-bottom: rem(24);

  @include mq(md) {
    margin-bottom: rem(80);
  }
}

.blog__entitle {
  // color: #fff;
}

.blog__entitle:first-letter{
  // color: #fff;
}

.blog__contents  {

  @include mq(md) {
    position: absolute;
    top: 29.6%;
    left: 0%;
    // transform: translate(-50%,0%);

  }
}

.blog__card-items {
 width: 100%;

  @include mq(md) {
    display: flex;
    justify-content: space-between;
    gap: rem(40);
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,0%);
  }
}

.blog__card-item {
  padding: rem(16) rem(16) rem(24) rem(16);
  margin-bottom: rem(40);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);

  @include mq(md) {
    width: 30.8%;
    margin-bottom: rem(80);
    background-color: white;
  }
  
}

.blog__card-img {
  margin-bottom: rem(24);
}

.blog__card-contents {
  margin: rem(10) rem(35) 0;
}

.blog__card-title {
  font-family: Noto San JP;
  border-bottom: #408F95 solid rem(1);
  padding-bottom: rem(4);
  margin-bottom: rem(16);
}

.blog__card-title1 {
  display: inline-block;
  font-size: rem(12);
  color:#408F95;
  line-height: calc(22/12);
  font-weight: Regular;
  // border: solid rem(1) #408F95;
}

.blog__card-title2 {
  font-size: rem(16);
  color: #0D2936;
  line-height: calc(24/16);
  font-weight: medium;
  // margin-bottom: rem(4);
}

.blog__card-content {
  // padding-top: rem(8);
}

.blog__card-text {
  font-size: rem(14);
  color: #0D2936;
  line-height: calc(24/14);
  font-family: Noto San JP;
  font-weight: Regular;
  // text-align: center;
}

.blog_btn {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,50%);
}