@use 'global' as *;

.button {
  text-align: center;
  // margin: rem(40) rem(84) ;
}

.button__box {
    text-align: center;
    display: inline-block;
    font-size: rem(14);
    font-weight: $regular;
    color: $white;
    width: rem(202);
    height: rem(54);
    text-transform: uppercase;
    background-color:#408F95;
    line-height: calc(22/14);
    padding: rem(16) rem(40);
  }