@use 'global' as *;

.entitle {
  font-size: rem(32);
  color: #0D2936;
  line-height: calc(40/32);
  font-weight: Regular;
	font-family: Goto;

  @include mq(md) {
    font-size: rem(32);
    color: #0D2936;
    line-height: calc(40/32);
  }
  
}

.entitle--color {
  @include mq(md) {
    color: #fff;
  }
}

.entitle--font {
  font-size: rem(80);

  @include mq(md) {
    font-size: rem(80);
  }
}

.entitle:first-letter {
	color: #408F95;
}

.entitle--color:first-letter {

  @include mq(md) {
  color: #fff;
  }
}