@use 'global' as *;

.jptitle {
    font-size: rem(12);
    color: #408F95;
    line-height: calc(18/12);
    font-weight: Regular;
    font-family: Noto San JP;
}

.jptitle--color {
    @include mq(md) {
      color: #fff;
    }
  }

.jptitle--font {
    font-size: rem(14);
    color: #408F95;
    line-height: calc(18/14);
    font-weight: Regular;
    font-family: Noto San JP;
}
