@use 'global' as *;

.mv {
  position: relative;
  // height: 100vh;
  // background-image: url(../images/common/mv.jpg);

}

.mv__slider {
  
  margin-bottom: 0;
  padding-left: 0;
}
.mv__slider img {

  // max-width: 100%;
  // max-height: 100%;
  // object-fit: contain;
}

.mv__title {
  position: absolute;
  top: 50%;
  left: 50%;;
  transform: translate(-50% ,-50%);
  color: $white;
  font-family: "Lato", sans-serif;
  font-size: rem(40);
  letter-spacing: 0.54rem;
  font-weight: $regular;
  z-index: 1000;
  @include mq(md){
  font-size: rem(80);
  line-height: calc(100/80);
  }
}