@use 'global' as *;

.swiper {
  /*スライダーの幅と高さを調整*/
  // position: absolute;
  width: 100vw;
  height: auto;
  // overflow: hidden;
}

.swiper-wrapper {
	transition-timing-function: ease;
  width: 100vw;
  // height: 100vh;
  // max-width: 940px!important;
  // margin: 0 auto!important;
  // overflow: visible!important;
  // display: flex;
  // justify-content: right;
  // align-items: center;
}

.swiper-slide {
	/*スライド要素の幅と高さを調整*/
  width: 100%;
  height: 100%;

	// /*テキストの位置調整*/
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: rem(-25);
}

.swiper-button-prev {
  top:-20%;
  right:10%;
  left:auto;
}

.swiper-button-next {
  top:-20%;
  right:0%;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  height: rem(50);
  width: rem(50);
}


/* 前へ次への矢印カスタマイズ */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: ""; //ここでデフォルトの矢印を上書き
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(50);
  margin: auto;
  width: rem(50);
}

/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  background-image: url(../images/common/arrow_prev.png);
  z-index: 1000;
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  background-image: url(../images/common/arrow_next.png);
  z-index: 1000;
}
/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}