@use 'global' as *;

.swiper {
  /*スライダーの幅と高さを調整*/
  // position: absolute;
  width: 100%;
  height: auto;
  // overflow: hidden;
}

.swipe-wrapper {
	transition-timing-function: ease;
  width: 100%;
  height: 100vh;
  // max-width: 940px!important;
  // margin: 0 auto!important;
  // overflow: visible!important;
  display: flex;
  justify-content: right;
  align-items: center;
}

.swiper-slide {
	/*スライド要素の幅と高さを調整*/
  width: 100%;
  height: 100%;

	// /*テキストの位置調整*/
  // display: flex;
  // justify-content: center;
  // align-items: center;
}