@use 'global' as *;

.campaign {
  // display: none;
  max-width: rem(1440);
  margin: 0 auto;
}

.campaign__inner {
  margin: 0 auto;
  max-width: rem(1440);
	margin: rem(40) rem(15);
  @include mq(md) {
    padding: rem(120) rem(15);
  }
}

.campaign__title {
  // text-align: center;
}

.campaign__entitle {
	// font-size: rem(32);
  // color: #0D2936;
  // line-height: calc(40/32);
  // font-weight: Regular;
	// font-family: Goto;
  margin-bottom: rem(4);
}

.campaign__entitle:first-letter {
	// color: #408F95;
}

.campaign__jptitle {
	// font-size: rem(12);
  // color: #408F95;
  // line-height: calc(18/12);
  // font-weight: Regular;
	// font-family: Noto San JP;
  margin-bottom: rem(25);
  @include mq(md) {
    margin-bottom: rem(40);
  }
}